<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>主页</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous"/>
    <script th:src="@{/webjars/font-awesome/5.15.1/js/all.min.js}" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:fragment="adminHead">
    <a class="navbar-brand">您好,学生!</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <!--            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">-->
    <!--                <div class="input-group">-->
    <!--                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />-->
    <!--                    <div class="input-group-append">-->
    <!--                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </form>-->
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" th:href="@{/user/logout}">注销</a>
            </div>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" th:fragment="adminBody">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">资料</div>
                    <a class="nav-link" th:href="@{/student}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        个人信息
                    </a>
                    <div class="sb-sidenav-menu-heading">功能</div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                       aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        管理
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/student/showCourse}">选读课程</a>
                            <a class="nav-link" th:href="@{/student/showSelectCourse}">已选课程</a>
                            <a class="nav-link" th:href="@{/student/showFinishCourse}">已修课程</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                       aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
                        设置
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                         data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/student/updateUser}">修改密码</a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                [[${session.loginUser.userName}]]
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">个人信息</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">您的身份是: 学生</li>
                </ol>
            </div>
            <div class="container-fluid">
                <div class="breadcrumb">
                    <div class="container">
                        <div class="row">
                            <label for="student_id"><i>ID : </i></label>
                            <div class="col" th:text="${student.getUserID()}" id="student_id"></div>
                            <label for="student_name"><i>姓名 : </i></label>
                            <div class="col" th:text="${student.getUserName()}" id="student_name"></div>
                        </div>
                        <br>
                        <div class="row">
                            <label for="student_sex"><i>性别 : </i></label>
                            <div class="col" th:text="${student.getSex()}==0?'女':'男'" id="student_sex"></div>
                            <label for="student_birth"><i>出生日期 : </i></label>
                            <div class="col" th:text="${#dates.format(student.getBirthYear(),'yyyy/MM/dd')}" id="student_birth"></div>
                        </div>
                        <br>
                        <div class="row">
                            <label for="student_college"><i>院系 : </i></label>
                            <div class="col" th:text="${student.getCollege().getCollegeName()}"  id="student_college"></div>
                            <label for="teacher_grade"><i>年级 : </i></label>
                            <div class="col" th:switch="${student.getGrade()}"  id="teacher_grade">
                                <p th:case="1" th:text="'大一'"></p>
                                <p th:case="2" th:text="'大二'"></p>
                                <p th:case="3" th:text="'大三'"></p>
                                <p th:case="4" th:text="'大四'"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <footer class="py-4 bg-light mt-auto" th:fragment="adminFooter">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.5.1/jquery.slim.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/webjars/datatables/1.10.20/media/js/jquery.dataTables.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/webjars/datatables/1.10.20/media/js/dataTables.bootstrap4.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/datatables.js}"></script>
</body>
</html>
