<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>jwxt</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous"/>
    <script th:src="@{/webjars/font-awesome/5.15.1/js/all.min.js}" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<div th:insert="~{/admin/indexAdmin::adminHead}"></div>
<div id="layoutSidenav">
    <div th:insert="~{/admin/indexAdmin::adminBody}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <br>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        教师信息
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="overflow-x: hidden">
                            <table class="table table-bordered" id="dataTable" style="width:100%" cellspacing="0">
                                <p style="color: #b61e2f" th:text="${msg}" th:if="${!#strings.isEmpty(msg)}"></p>
                                <a class="btn btn-success" th:href="@{/admin/addTeacher}">添加教师</a>
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>姓名</th>
                                    <th>性别</th>
                                    <th>生日</th>
                                    <th>学历</th>
                                    <th>职称</th>
                                    <th>院系</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="teacher:${teachers}">
                                    <td th:text="${teacher.getUserID()}">
                                    <td th:text="${teacher.getUserName()}">
                                    <td th:text="${teacher.getSex()==0?'女':'男'}">
                                    <td th:text="${#dates.format(teacher.getBirthYear(),'yyyy-MM-dd')}">
                                    <td th:switch="${teacher.getDegree()}">
                                        <p th:case="1">学士</p>
                                        <p th:case="2">硕士</p>
                                        <p th:case="3">博士</p>
                                    </td>
                                    <td th:switch="${teacher.getTitle()}">
                                        <p th:case="1">助教</p>
                                        <p th:case="2">普通教师</p>
                                        <p th:case="3">副教授</p>
                                        <p th:case="4">教授</p>
                                    </td>
                                    <td th:text="${teacher.getCollege().getCollegeName()}">
                                    <td>
                                        <a class="btn btn-primary" th:href="@{'/admin/updateTeacher/'+${teacher.getUserID()}}">编辑</a>
                                        <a class="btn btn-danger" th:onclick="deleteTeacherAsk([[${teacher.getUserID()}]])">删除</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:insert="~{/admin/indexAdmin::adminFooter}"></div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.5.1/jquery.slim.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/webjars/datatables/1.10.20/media/js/jquery.dataTables.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/webjars/datatables/1.10.20/media/js/dataTables.bootstrap4.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/datatables.js}"></script>
<script th:src="@{/js/deleteConfirm.js}"></script>
</body>
</html>
