<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>教务系统登录</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.slim.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/font-awesome/5.15.1/js/all.min.js}" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">登录</h3></div>
                            <div class="card-body">
                                <p style="color: #bd2130" th:text="${msg}" th:if="${!#strings.isEmpty(msg)}"></p>
                                <form th:action="@{/user/login}">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputUsername">用户名</label>
                                        <input class="form-control py-4" name="userName" id="inputUsername" type="text"
                                               placeholder="你的用户名" required="required"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputPassword">密码</label>
                                        <input class="form-control py-4" name="password" id="inputPassword"
                                               type="password" placeholder="密码" required="required"/>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <div style="text-align: center">
                                        <button class="btn btn-primary" type="submit" >登录</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
<script th:src="@{js/scripts.js}"></script>
</body>
</html>
